 <h3>Developing Custom  Directives in Angular</h3>


 <h1 applyShadow> Text </h1>	
 <!--<p [applyShadow]="'green'"> Text </p>
 <p [applyShadow]="'violet'"> Text </p> -->
 
 <hr/>
 
 <div *appAdminPanel=" 'Scott' ">
    <h1>DIV1</h1>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
</div>

<div *appAdminPanel=" 'Sam' ">
<h1>DIV2</h1>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
</div>

   